body {
  background-color: #add836;;
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0;
  padding: 0;}

/*General rules for everything within the table*/
#counter {
  position: fixed;
  right: 0;
  top: 0;
  border: 3px solid #000000;
}

@keyframes heightChange {
  from {height: 0px;}
  to {height: 270px;}
}

@keyframes displayChange {

}

/*reset button to make counter go back to zero*/
#reset {
  text-align: center;
}

#correctScore {
  font-family: 'Oswald', 'Futura', sans-serif;
  padding: 20px, 5;     /* 10px top & bottom padding, 0px left & right */
  border-color: #000;
  border-style: solid;
  text-align: center;
}

#incorrectScore {
  font-family: 'Oswald', 'Futura', sans-serif;
  padding: 20px 2;     /* 10px top & bottom padding, 0px left & right */
  border-color: #000;
  border-style: solid;
  text-align: center;
}

#ruleBar {
  position: absolute;
  background-color: #87421F;
  font-family: 'Oswald', 'Futura', sans-serif;
  padding: 5px;
  border-radius: 20px;
  z-index: 1;
}

#ruleClose {
  text-align: right;
}

#ruleList.hide {
  display: none;
}


#modal.hide {
  position: fixed;
  display: none;
  width: 550px;
  height: 0px;
  margin: 5% auto;
  padding: 0px;
  left: 0;
  right: 0;
  background-color: #87421F;
  border-radius: 25px;
}

#modal.africa, #modal.europe, #modal.asiaMiddleEast, #modal.southAmerica, #modal.northAmerica, #modal.oceania {
  position: fixed;
  width: 550px;
  height: 270px;
  padding: 10px;
  animation: heightChange 2s ease;
  overflow: hidden;
  margin: 5% auto;
  left: 0;
  right: 0;
  background-color: #87421F;
  border-radius: 25px;
}


#cancel {
  text-align: right;
  font-family: 'Oswald', 'Futura', sans-serif;
  padding: 10px;
}

.input {
  z-index: -1;
  padding: 5px;
}


/*Positions and sizes of all the continents*/
#europe {
  position: absolute;
  left: 450px;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  z-index: -2;
}

#africa {
  float: left;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  z-index: -2;
}

#asiaMiddleEast {
  position: absolute;
  top: 450px;
  left: 450px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
  z-index: -2;
}

#northAmerica {
  position: relative;
  float: right;
  width: auto;
  max-width: 450px;
  max-height: 450px;
  z-index: -2;
}

#southAmerica {
  position: absolute;
  right: 10px;
  top: 500px;
  width: auto;
  max-width: 450px;
  max-height: 450px;
  z-index: -2;
}

#oceania {
  position: absolute;
  left: 10px;
  top: 450px;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  z-index: -2;
}
/*rules to blur all the contents when the mouse hovers over any of them.*/
#northAmerica:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}

#oceania:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}

#asiaMiddleEast:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}

#southAmerica:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}

#africa:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}

#europe:hover {
  -webkit-filter: blur(2px); filter: blur(2px);
}
/*hide class to take away modal where user enters input of world capitals
.hide {
  display: none;
}*/
